#mainArtist {
  display: flex;
  flex-direction: column;
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.artist-details {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}