#main {
    /* background-color: #f2f2f2; */
    background-color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    font-size: 4rem;
    color: #00ff00;
    text-shadow: 2px 2px 4px #000000;
}

.labelTitle {
    font-size: 1.2rem;
    /* color: #00ff00; */
    /* text-shadow: 2px 2px 4px #000000; */
    /* box-shadow: 0px 0px 10px 0px #000000; */
    padding: 1rem 2rem;
    margin: 1rem 4rem;
    /* border: 2px solid green; */
    /* width: fit-content; */
}

#loginBtn {
    margin: 1rem auto;
    display: block;
    width: 50%;
    transition: all 0.2s ease-in-out;
    background-color: gainsboro;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

#loginBtn:hover {
    background-color: rgb(93, 194, 93);
    color: white;
}

.dontHaveAccount {
    /* background-color: red; */
    margin-top: 4rem;
    text-decoration: none;
    /* color: red; */
}